<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
